@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Bold.eot');
    src: url('../../assets/fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Inter-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Inter-Bold.woff') format('woff'),
        url('../../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Medium.eot');
    src: url('../../assets/fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Inter-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Inter-Medium.woff') format('woff'),
        url('../../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Regular.eot');
    src: url('../../assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Inter-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Inter-Regular.woff') format('woff'),
        url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }
  
  :root {
    --primary-blue-c: #268EFF;
    --primary-orange-c: #FF5C00;
    --primary-white-c: #F5F5F5;
    --primary-green-c: #39AA45;
    --white-c: #FFFFFF;
    --black-c: #000000;
  }
  
  :root {
    --fz-12: 12px;
    --fz-18: 18px;
  }
  
.container
{
    margin-top: 25px;
    margin-left: 30px;
}
.img
{
    height: 116px;
    width: 103px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 17px;
}
.content
{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: var(--black-c);
}
.button-card
{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width: 340px;
    height: 40px;
}
.content-p
{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    color: var(--black-c);
    font-size: 12px;
}
.card-main
{
position: absolute;
width: 1500px;
height: 841px;
left: 390px;
top: 198px;
}
.lists
{
  position: absolute;
  left: 764px;
  top: 237px;
  right: 0;
  bottom: 0;
}
.list-card
{
  background: #fff;
  max-width: 707px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin-left: 20px;
}